
/* Wrapper class acts as a container */
.AddAnAssetModal{
    max-width:900px!important;
    padding:0px!important;
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    min-height: 565px;
}

.AddAnAssetModal .asModalHeadDiv{
    padding:15px 10px;
    background-color: #E6E6E6;
    lost-utility:clearfix;
}

.AddAnAssetModal .asModalHeadDiv .asHeading {
    lost-column:3/4 0;
    font-size: 20px;
    line-height: 30px;
}
.asCloseButton {
    composes: close from "../../../styles/patterns.css";
    text-align:right;
    lost-column:1/4 0;
}

/*.AddAnAssetModal .plModalBodyDiv {*/
.asModalBodyDiv{
    margin: 20px;
    lost-utility:clearfix;
}

.mainContainer{
  composes: col100 from "../../../styles/patterns.css";
  font-size:14px;
}

.searchLibraryContainer{
    composes: col100 from "../../../styles/patterns.css";
    margin-top:15px;
}

.searchHeadDiv{
      composes: col100 from "../../../styles/patterns.css";
      min-height: 15px;
}

.asSearchText{
    color:#000000;
    float:left;
}
.asSearchValue{
    color: #8c8c8c;
    text-transform: capitalize;
    float: left;
}

.searchAutoSuggestContainer{
  composes: col70 from "../../../styles/patterns.css";
  margin: 10px auto;
  min-height: 50px;
}

.searchAutoSuggestDiv{
  width:95%;
  float:left;
}

.searchBtnDiv{
  width:5%;
  float:left;
}

.searchBtnDiv button{
    height: 30px;
    background-color:#FFFFFF;
}


.asCancelButton{
     composes: c2GreyButton from "../../../styles/patterns.css";
}

.asSelectButton{
     composes: c2BlueButton from "../../../styles/patterns.css";
}
