.container{
	width:100%;
}

.input{
	height:30px;
	width:100%;
    font-size: 16px;
    padding: 10px;
}

.suggestionsContainer{
	position:absolute;
	list-style-type: none;
    border: 1px solid #d0d0d0;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 180px;
    width: 70%;
    padding: 0;
    background-color:#FFFFFF;
    z-index:10000;
}

.sectionContainer ul{
    list-style:none;
    margin:3px;
    padding:0;
}

.sectionTitle{
    margin:5px;
}

.suggestion{
	cursor: pointer;
    padding: 5px 10px;
    line-height: 16px;
    font-size: 16px;
    color: #231f20;
}
.suggestion:hover{
	background-color: #D9EEFF;
}