@import "./variables.css";
@import "./mixins.css";
@import "./extends.css";

/* .plcontainer { all: initial; } */

/*
  @import "./layout.css";
*/


/*@each $m in (20px, 10px, 5px) {
    .margin-$(m) {
        margin: $(m);
    }
}*/


/* background colors */
.primary {
    color: $RoyalNavy;
}
.secondary {
    color: $Hyperdrive;
}
.error {
    color: $BlueMilk;
}
.alert {
    color: $Sidewalk;
}

/* currency symbols */
.dollar {
    @mixin currency $;
}

.pound {
    @mixin currency #;
}

/* using extends */
.notice--clear {
    @extend bg-green;
}

/* referencing property */
.heading {
    margin: 20px;
    padding: @margin;
}

.close {
    cursor: pointer;
    float: left;
    font-size: 28px;
    text-align: right;
}

.container {
  display: flex;
}

.c2FontFamily{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

@each $textAlign in (center,left,right) {
    .textAlign$(textAlign) {
        text-align:$(textAlign);
    }
}


/*precss each ex */
@each $width in (10,20,30,40,50,60,70,80,90,100) {
    .col$(width) {
        width:$(width)%;
    }
}

/* Precss for loop */
@for $i from 0 to 20{
    .paddingleft$i { padding-left: $(i)px; }
    .paddingtop$i { padding-top: $(i)px; }
    .paddingbottom$i { padding-bottom: $(i)px; }
    .paddingright$i { padding-right: $(i)px; }
    .padding$i{padding:0px!important;}
}

@each $height in (50,100,150,200,250,300,350,400,450,500,550,600,650,700,750,800,850,900,950,1000) {
    .minHeight$(height) {min-height:$(height)px;}
    .maxHeight$(height) {max-height:$(height)px;}
}

.c2BlueButton {
    cursor: pointer;
    color: $White;
    background-color: $BasicBlue;
    border: solid 1px $DeepSea;
    height: 30px;
    border-radius: 2px;
    padding: 5px 20px;
}

.c2GreyButton {
    border: solid 1px $HairlineGray;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.875rem;
    padding:5px 20px;
    background-color:$DirtyIce;
    color:$LightGray;
}

