/* Variables */
/* Color Variables - source : http://pearson-higher-ed.github.io/design/c/colors/ */
$Pitch:	#231f20;
$GrayNo1:	#565656;
$RoyalNavy:	#094877;
$Hyperdrive:	#0d65a6;
$Firetruck:	#D0021B;
$Spruce:	#076826;	

$BrightlyLit:	#E6E6E6;	
$OffWhite:	#F2F2F2;	
$DirtyIce:	#F8F8F8;	
$White:	#FFFFFF;	
$BlueMilk:	#D9EEFF;
$Highlighter:	#FDEC2E;

$Boring:	#A6A8AB;
$Sidewalk:	#B3B3B3;
$HairlineGray:	#D0D0D0;

$GrayWash:	#AEAEAE;
$Black:	#000000;
$GutenbergBlack:	#333333;
$FullMoon:	#424242;

$Asphalt:	#3f3f3f;
$SmokeGray:	#545454;

$BasicBlue:	#107ACA;
$Sea:	#0C5D99;
$DeepSea:	#0A4D80;
$SkyBlue:	#9DC0DB;

$SandyGray:	#6d6d6d;

/* Widths Variables */
$column: 200px;


