@import "../../../styles/variables.css";

.container{
	composes: col100 from "../../../styles/patterns.css";
}
.input{
	height:30px;
    composes: col100 from "../../../styles/patterns.css";
    font-size: 16px;
    padding: 10px;
}

.suggestionsContainer{
	position:absolute;
	list-style-type: none;
    border: 1px solid $HairlineGray;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 110px;
    top: 128px;
    composes: col70 from "../../../styles/patterns.css";
    composes: padding0 from "../../../styles/patterns.css";
}

.suggestion{
	cursor: pointer;
    padding: 5px 10px;
    line-height: 16px;
    font-size: 16px;
    color: $Pitch;
}
.suggestion:hover{
	background-color: $BlueMilk;
}